.productTime {
  display: flex;
  margin: 29px 0;
  align-items: center;
  justify-content: space-between;
}
.productTImeH {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.productMainImage {
  margin-top: 50px;
}

.productTImeH h1 {
  padding-right: 4pc;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.04em;
}

.productTimeImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.productTimeImage button {
  width: 159px;
  height: 56px;
  padding: 16px 48px 16px 48px;
  gap: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  color: #fafafa;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  background: #db4444;
}
